<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="/static/style.css" />
  </head>
  <body>
    <div class="l-mid75 main">
      <header class="site-header">
        <div class="l-row">
<div class="l-col75">
</div>
<div class="l-col25">
<div class="site-search">
&nbsp;
</div>
</div>
</div> <!-- end .l-row -->
<div class="site-logo">
<h1><a href="/"><img src="/static/logo.png" width="208" height="59" alt="Unsourced" /></a> </h1>
</div>
<div class="site-tagline">See the missing sources for news articles <a href="/about#why">Why?</a>
<div class="site-tagline-popup">
By reading the source material you can decide if the journalist has come to the right conclusion.
</div>
</div>
<a class="mst-logo" href="http://mediastandardstrust.org"><img src="/static/mst_logo.png" width="70" height="50" alt="Media Standards Trust" /></a>
<nav class="site-nav">

<ul class="topnav">
<li><a href="/">Home</a></li>
<li><a href="/browse">Explore</a></li>
<li><a href="/daily">View by day</a></li>

<li><a href="/extension">Browser extension</a></li>

</ul>

<div class="site-links">
<div>Follow us on Twitter: <a href="https://twitter.com/UnsourcedOrg">@UnsourcedOrg</a></div>
<div>Read our <a href="http://unsourced.posterous.com">Blog</a></div>
</div>
</nav>
</header>

     {{content}}
    </body>
</html>

