---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="l-row">

<div class="l-col66">
 <div class="fullart post hentry">
  <h2 class="entry-title fancy-heading">{{ page.title }}</h2>
  <div class="post-info">Posted by
   <span class="vcard author"><span class="fn">{{ author.name }}</span> ({{ author.description }})</span><br/>
   <time class="published timestamp" datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date: "%d %b %Y" }}</time>
  </div>
  <div class="post-body entry-content">
   {{ content }}
  </div>
 </div>
</div>

<div class="l-col33">
<div class="sidebar dot-frill">
<div class="tool">
  <header>
  <h2>Blog archive</h2>
  </header>
  <ul class="bod blog-archive-list">
  {% for post in site.posts %}
  <li> 
   <time class="timestamp" datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%d %b %Y" }}</time>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
  </ul>
</div>
</div>
</div>

</div> <!-- end l-row -->

