---
layout: default
---
<div class="l-row">

<div class="l-col75">
 <div class="box post hentry">
  <h2 class="entry-title fancy-heading">{{ page.title }}</h2>
  <div class="post-info">Posted by
   <span class="vcard author"><a rel="author" class="url fn" href="http://scumways.com">Ben</a></span>,
   <time class="published" datetime="{{ page.date | date_to_xmlschema }}" pubdate>{{ page.date | date: "%B %d, %Y" }}</time>
  </div>
  <div class="post-body entry-content">
   {{ content }}
  </div>
 </div>
</div>

<div class="l-col25">
<div class="box">
  <h3>archive</h3>
  <ul>
  {% for post in site.posts %}
  <li>
    <a href="{{ post.url }}">{{ post.title }}</a>
  </li>
  {% endfor %}
  </ul>
</div>
</div>

</div> <!-- end l-row -->

